html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zrnic", sans-serif;
}
html {
  background-color: white;
}
body {
  overflow-x: hidden;
  background-color: white;
  opacity: 0;
  animation: reveal 200ms ease-in-out forwards;
}
/* body animation */
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* end */
button:hover,
button:active {
  cursor: pointer;
}
/* general class */

[data-state="active"] {
  opacity: 1;
}
[data-state="hidden"] img {
  opacity: 0.7;
}
:root {
  --color1: linear;
  --gradiant: radial-gradient(#c90707, #470302);
  --gradiant1: radial-gradient(#0714c9, #020947);
  --gradiant2: radial-gradient(#c9c907, #464702);
  --gradientS: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 4%,
    rgba(9, 9, 121, 1) 56%,
    rgba(2, 0, 36, 1) 100%
  );
}
@keyframes opacity1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes close {
  0% {
    opacity: 1;
    z-index: 4;
  }
  /* 50% {
    opacity: 1;
    z-index: 4;
  } */
  100% {
    opacity: 0;
    z-index: 1;
  }
}
@keyframes open1 {
  0% {
    opacity: 1;
    z-index: 4;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    left: -500;
  }
  10% {
    opacity: 0;
    left: 10;
    top: 0;
  }
  50% {
    opacity: 0;
    left: 10;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    top: 50;
    left: 10;
  }
}
@keyframes slideOut {
  0% {
    opacity: 1;
    left: 10;
    top: 50;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
    left: 10;
  }
  90% {
    opacity: 0;
    left: 10;
    top: 0;
  }
  100% {
    opacity: 0;
    left: -500;
    top: 0;
  }
}
.slideIn {
  animation: slideIn 300ms forwards ease-in-out;
}
.slideOut {
  animation: slideOut 300ms forwards ease-in-out;
}
.close {
  animation: close 1000ms ease-in-out;
  animation-delay: 100ms;
}
.open1 {
  animation: open1 1000ms ease-in-out forwards;
  animation-delay: 100ms;
}
.opacity1 {
  animation: opacity1 700ms ease-in-out forwards;
}
.opacity2 {
  animation: opacity1 800ms ease-in-out forwards;
}
.opacity3 {
  animation: opacity1 900ms ease-in-out forwards;
}
.opacity4 {
  animation: opacity1 1000ms ease-in-out forwards;
}
/* end of general class */
.parent {
  display: grid;
  grid-template: 40px 1fr 120px / 1fr;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
nav {
  width: 100vw;
  box-shadow: 0px 13px 14px -7px rgba(0, 113, 206, 0.707);
  z-index: 10;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-size: 12px;
}
.search-box {
  position: absolute;
  border-radius: 7px;
  top: 0;
  left: -500;
  background-color: rgb(28, 26, 26);
  display: flex;
  justify-content: start;
  align-items: center;
  width: 85%;
  height: fit-content;
  padding: 3px;
  opacity: 0;
}
.box {
  border: 1.5px solid transparent;
  width: 100%;
  background: linear-gradient(rgb(28, 26, 26), rgb(28, 26, 26)) padding-box,
    var(--gradientS) border-box;
  border-radius: 7px;
}
.box i {
  color: #00439c;
  margin-left: 7px;
}
.box input {
  background-color: transparent;
  width: 90%;
  border: none;
  padding: 5px;
  color: #0072ce;
  outline: none;
}
nav > * {
  margin: 0 10px 0 10px;
}
nav > svg {
  color: #0072ce;
  margin-right: 2px;
  margin-bottom: 5px;
}
.navigate {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.navigate > .fa-bars {
  color: #00439c;
  padding-right: 20px;
}
.navigate > svg {
  color: #00439c;
  width: 21px;
}
.navigate > svg:hover {
  cursor: pointer;
}
nav > button {
  width: 70.95px;
  border: none;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  background-color: #0072ce;
  color: white;
  padding: 1px 14px 4px 12px;
  margin: 20px 20px 20px 0px;
  border-radius: 40px;
  outline: 1.5px solid transparent;
  outline-offset: 1.2px;
}
nav > button:hover {
  outline: 1.5px solid #00439c;
  outline-offset: 1.2px;
  transition-duration: 400ms;
}
nav > button:active {
  opacity: 0.7;
  transition-duration: 400ms;
}
article {
  display: grid;
  grid-template: 1fr fit-content 1fr / 1fr;
}
.gradiant {
  position: absolute;
  width: 100vw;
  aspect-ratio: 2/3;
  background-image: var(--gradiant);
  opacity: 0;
  z-index: 1;
  /* animation: open 800ms forwards ease-in-out 1; */
  /* animation: open 800ms forwards; */
}
.image {
  position: relative;
  width: 100vw;
  background-image: var(--gradiant);
}

.buynow {
  width: 100%;
  height: 30%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  bottom: 0;
  padding-top: 200px;
  padding-bottom: 10px;
  background-image: linear-gradient(to top, black, transparent);
  color: white;
  z-index: 3;
}
.buynow > * {
  margin-top: 10px;
}
.buynow > p,
button {
  margin-bottom: 5px;
}
.buynow p {
  width: 70%;
  margin-left: 3%;
  font-size: 12px;
  text-align: center;
  opacity: 0;
}
.buynow > h2 {
  font-size: 20px;
  font-weight: 500;
  opacity: 0;
}
.buynow > h1 {
  margin-bottom: 12px;
  opacity: 0;
}
.buynow > button {
  color: white;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 40px;
  padding: 10px;
  font-weight: bold;
  outline: 1.5px solid transparent;
  outline-offset: 1.2px;
  opacity: 0;
}
.buynow > button:hover {
  outline: 1.5px solid #c90707;
  outline-offset: 1.4px;
  transition-duration: 400ms;
}
.buynow > button:active {
  opacity: 0.7;
  transition-duration: 400ms;
}
.image > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 2/3;
}

.content {
  margin-top: 5px;
  position: relative;
  height: fit-content;
  left: -13%;
  width: 100%;
  display: flex;
  justify-items: center;
}
.element {
  width: 40vw;
  margin: 0 5px 0 5px;
  border-radius: 8px;
  height: fit-content;
  outline: 1.5px solid transparent;
  outline-offset: 1.5px;
}
.element:hover {
  cursor: pointer;
  outline: 1.5px solid #00439c;
  outline-offset: 1.5px;
  transition-duration: 400ms;
}
.element:active {
  cursor: pointer;
}
.element img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.ps {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  justify-content: start;
  align-items: center;
}
.ps img {
  width: 80%;
  margin-bottom: 60px;
  object-fit: contain;
}
.ps h1 {
  margin-left: 7%;
  margin-bottom: 3%;
}
.ps p {
  margin-left: 3%;
  width: 70%;
  margin-bottom: 3%;
  text-align: center;
}
.ps button {
  border: none;
  padding: 4px 7px 4px 7px;
  border-radius: 40px;
  color: white;
}
.btn2 {
  background-color: #c90707;
  margin-left: 20px;
  outline: 1.5px solid transparent;
  outline-offset: 1.2px;
}
.btn1 {
  background-color: #00439c;
  outline: 1.5px solid transparent;
  outline-offset: 1.2px;
  margin-left: 23%;
}
.btn1:hover {
  outline: 1.5px solid #00439c;
  outline-offset: 1.2px;
  transition-duration: 400ms;
}
.btn2:hover {
  outline: 1.5px solid #c90707;
  outline-offset: 1.2px;
  transition-duration: 400ms;
}
.btn1:active {
  opacity: 0.7;
  transition-duration: 400ms;
}
.btn2:active {
  opacity: 0.7;
  transition-duration: 400ms;
}
footer {
  background-color: #00439c;
  color: white;
  display: flex;
  align-items: center;
  font-family: "Zrnic", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
footer {
  display: grid;
  grid-template: 75px 45px / 1fr;
}
.playstation > * {
  margin: 15px;
}
.playstation > svg {
  color: white;
}
.sony {
  background-color: black;
  display: flex;
  justify-content: end;
  padding-right: 110px;
}
.sony > img {
  width: 60px;
  height: 45px;
  color: white;
}
