html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zrnic", sans-serif;
}
body {
  overflow-x: hidden;
}
/* general class */
:root {
  --placement1: e1;
  --placement2: e2;
  --placement3: e3;
  --animmation1: 3s ease-in 1s infinite reverse both running slidein;
}
.border {
  border: 1.8px solid #00439c;
  border-radius: 10px;
}

/* end of general class */
.parent {
  display: grid;
  grid-template: 60px 1fr 120px / 1fr;
  width: 100vw;
  height: 100vh;
}
nav {
  width: 100vw;
  box-shadow: 0px 10px 14px -4px rgba(0, 114, 206, 0.29);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-size: 18px;
}
nav > * {
  margin: 0 10px 0 10px;
}
nav > svg {
  color: #0072ce;
  font-size: 35px;
  margin-right: 2px;
  margin-bottom: 5px;
}
.navigate {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.navigate > .fa-bars {
  padding-right: 35px;
}
.navigate > svg {
  width: 21px;
}
nav > button {
  width: 70.95px;
  border: none;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  background-color: #0072ce;
  color: white;
  padding: 1px 14px 4px 12px;
  margin: 20px 20px 20px 0px;
  border-radius: 40px;
}
article {
  display: grid;
  grid-template: 1fr 300px / 1fr;
}
.image {
  position: relative;
  width: 100vw;
}
.buynow {
  width: 100%;
  height: 30%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  bottom: 0;
  padding-top: 200px;
  padding-bottom: 50px;
  background-image: linear-gradient(to top, black, transparent);
  color: white;
  z-index: 3;
}
.buynow > * {
  margin-top: 10px;
}
.buynow > p,
button {
  margin-bottom: 5px;
}
.buynow p {
  width: 80%;
}
.buynow > h2 {
  font-size: 20px;
  font-weight: 500;
}
.buynow > h1 {
  margin-bottom: 20px;
}
.buynow > button {
  color: white;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 40px;
  padding: 10px;
  font-weight: bold;
}
.image > img {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.element {
  width: 140px;
  padding: 1.5px;
  height: fit-content;
}
.content {
  margin-top: 5px;
  padding-right: 100px;
  display: grid;
  grid-template: 1fr / 2fr 1fr 2fr;
  column-gap: 5px;
}
.element img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

footer {
  background-color: #00439c;
  color: white;
  display: flex;
  align-items: center;
  font-family: "Zrnic", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
footer {
  display: grid;
  grid-template: 75px 45px / 1fr;
}
.playstation > * {
  margin: 15px;
}
.playstation > svg {
  color: white;
}
.sony {
  background-color: black;
  display: flex;
  justify-content: end;
  padding-right: 12px;
}
.sony > img {
  width: 60px;
  height: 45px;
  color: white;
}
