html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zrnic", sans-serif;
}
body {
  overflow-x: hidden;
}
/* general class */
[data-state="active"] {
  border: 1.8px solid #00439c;
  border-radius: 10px;
  transition: border 200ms ease-in;
}
[data-state="hidden"] img {
  opacity: 0.7;
}
:root {
  --color1: linear;
  --gradiant: radial-gradient(#c90707, #470302);
  --gradient1: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 4%,
    rgba(9, 9, 121, 1) 56%,
    rgba(2, 0, 36, 1) 100%
  );
}
@keyframes slideIn {
  from {
    left: -300;
  }
  to {
    left: 10;
  }
}
@keyframes slideOut {
  from {
    left: 10;
  }
  to {
    left: -300;
  }
}
.slideIn {
  animation: slideIn 200ms both ease-out;
}
.slideOut {
  animation: slideOut 200ms both ease-out;
}
/* end of general class */
.parent {
  display: grid;
  grid-template: 40px 1fr 120px / 1fr;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
nav {
  width: 100vw;
  box-shadow: 0px 13px 14px -7px rgba(0, 113, 206, 0.707);
  z-index: 10;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-size: 12px;
}
.search-box {
  position: absolute;
  border-radius: 7px;
  top: 50;
  left: -300;
  background-color: rgb(28, 26, 26);
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  height: fit-content;
  padding: 3px;
}
.box {
  border: 1.5px solid transparent;
  width: 100%;
  background: linear-gradient(rgb(28, 26, 26), rgb(28, 26, 26)) padding-box,
    var(--gradient1) border-box;
  border-radius: 7px;
}
.box i {
  color: #00439c;
  margin-left: 7px;
}
.box input {
  background-color: transparent;
  border: none;
  padding: 5px;
  color: #0072ce;
  outline: none;
}
nav > * {
  margin: 0 10px 0 10px;
}
nav > svg {
  color: #0072ce;
  margin-right: 2px;
  margin-bottom: 5px;
}
.navigate {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.navigate > .fa-bars {
  color: #00439c;
  padding-right: 20px;
}
.navigate > svg {
  color: #00439c;
  width: 21px;
}
.navigate > svg:hover {
  cursor: pointer;
}
nav > button {
  width: 70.95px;
  border: none;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  background-color: #0072ce;
  color: white;
  padding: 1px 14px 4px 12px;
  margin: 20px 20px 20px 0px;
  border-radius: 40px;
}
article {
  display: grid;
  grid-template: 1fr 300px / 1fr;
}
.image {
  position: relative;
  width: 100vw;
}
.buynow {
  width: 100%;
  height: 30%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  bottom: 0;
  padding-top: 200px;
  padding-bottom: 10px;
  background-image: linear-gradient(to top, black, transparent);
  color: white;
  z-index: 3;
}
.buynow > * {
  margin-top: 10px;
}
.buynow > p,
button {
  margin-bottom: 5px;
}
.buynow p {
  width: 60%;
  margin-left: 7%;
  font-size: 12px;
}
.buynow > h2 {
  font-size: 20px;
  font-weight: 500;
}
.buynow > h1 {
  margin-bottom: 20px;
}
.buynow > button {
  color: white;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 40px;
  padding: 10px;
  font-weight: bold;
}
.image > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 2/3;
}
.element {
  width: 40vw;
  padding: 1.5px;
  margin: 0 5px 0 5px;
  height: fit-content;
  transform: scale(1);
  transition-duration: 500ms;
}
/* .element:hover {
  opacity: 1;
  transform: scale(1.04);
  transition-duration: 500ms;
} */
.content {
  margin-top: 5px;
  position: relative;
  left: -13%;
  width: 100%;
  display: flex;
  justify-items: center;
}
.element img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

footer {
  background-color: #00439c;
  color: white;
  display: flex;
  align-items: center;
  font-family: "Zrnic", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
footer {
  display: grid;
  grid-template: 75px 45px / 1fr;
}
.playstation > * {
  margin: 15px;
}
.playstation > svg {
  color: white;
}
.sony {
  background-color: black;
  display: flex;
  justify-content: end;
  padding-right: 110px;
}
.sony > img {
  width: 60px;
  height: 45px;
  color: white;
}
